<%= form_with model: @item, local: true do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <span class="picture">
    <%= f.label :picture %>　<span class="input-need">※必須</span>
    <%= f.file_field :picture, accept: 'image/jpeg,image/png', class: 'form-control', id: 'item_picture' %>
  </span>
  <div class = 'form-group'>
    <%= f.label :name %>　<span class="input-need">※必須</span>
    <%= f.text_field :name, class: 'form-control', id: 'item_name' %>
  </div>
  <div class = 'form-group'>
    <%= f.label :description %>　<span class="input-unneed">※任意</span>
    <%= f.text_field :description, size: "60x4", class: 'form-control', id: 'item_description' %>
  </div>
  <%= f.submit nil, class: 'btn btn-primary' %>
<% end %>